{% load staticfiles %}
<html>
    <head>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
       <link rel="stylesheet" href="{% static 'css/club.css' %}"> 
    </head>
    <body>
        <div>
           <h1>NJ Badminton Club Management Systems</h1>  
        </div>
        <ol>
           <li><a href="/club/persons/">Players</a></li>
           <li><a href="/club/instructors/">Instructors</a></li>
           <li><a href="/club/session/list/">Sessions</a></li>
   
           <li>Player Billings</li>
           <li>Instructors Payroll</li>
           <li>Membership Management</li>
           <li>System Management</li>
        </ol>
    </body>
</html>






